# Ignore node_modules folders in all subdirectories
**/node_modules/

# Ignore any .env files
**/.env

# Ignore backend-related files
/server/

# Ignore any build artifacts
/build/
/dist/
/public/

# Ignore editor-specific files
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and cache files
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.cache/
